<template>
  <div>
    <div class="page-title">
      <span>Todo management home page</span>
    </div>
    <div class="card">
      <div class="card-body">
         Welcome to App!! please login.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home-page',
}
</script>