<template>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="card card-default">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <form @submit="userRegister($event)" class="row" method="post">

                            <div class="form-group col-12">
                                <label for="name" class="font-weight-bold">Name</label>
                                <input type="text" v-model="user.name" id="name" placeholder="Enter name"
                                    class="form-control">
                                <small class="form-text text-danger">{{ errors.name }}</small>
                            </div>
                            <div class="form-group col-12 my-2">
                                <label for="email" class="font-weight-bold">Email</label>
                                <input type="text" v-model="user.email" id="email" placeholder="Enter Email"
                                    class="form-control">
                                <small class="form-text text-danger">{{ errors.email }}</small>
                            </div>
                            <div class="form-group col-12">
                                <label for="password" class="font-weight-bold">Password</label>
                                <input type="password" v-model="user.password" id="password" placeholder="Password"
                                    class="form-control">
                                <small class="form-text text-danger">{{ errors.password }}</small>
                            </div>
                            <div class="form-group col-12 my-2">
                                <label for="password_confirmation" class="font-weight-bold">Confirm Password</label>
                                <input type="password" v-model="user.password_confirmation" id="password_confirmation"
                                    placeholder="Confirm Password" class="form-control">
                                <small class="form-text text-danger">{{ errors.password_confirmation }}</small>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="form-group text-center mt-3">
                                    <button type="submit" class="btn btn-success" :disabled="!isFormValid || loading">{{
                                        loading ? 'Register...' : 'Register' }}</button>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <label>Already have an account? <router-link :to="{ name: 'login' }">Login
                                        Now!</router-link></label>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    name: 'auth-register',
    data: function () {
        return {
            loading: false,
            user: {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',

            },
            errors: {
                name: '',
                email: '',
                password: '',
                password_confirmation: ''
            }
        }
    },

    watch: {
        'user.name': function (newName) {
            if (newName == '')
                this.errors.email = 'Name is required';
            else
                this.errors.email = '';
        },
        'user.email': function (newEmail) {
            let email_regex = /\S+@\S+\.\S+/;
            if (newEmail == '')
                this.errors.email = 'Email address is required';
            else if (email_regex.test(newEmail) == false)
                this.errors.email = 'Email address is not valid';
            else
                this.errors.email = '';
        },
        'user.password': function (newPassword) {
            if (newPassword == '')
                this.errors.password = 'Password is required';
            else if (newPassword.length < 8)
                this.errors.password = 'Password should be at least 8 characters';
            else
                this.errors.password = '';
        },

        'user.password_confirmation': function (conPassword) {
            if (conPassword == '')
                this.errors.password_confirmation = 'Password is not empty!!';
            else if (conPassword.length < 8)
                this.errors.password_confirmation = 'Password should be at least 8 characters';
            else
                this.errors.password_confirmation = '';
        },




    },
    computed: {
        isFormValid: function () {
            let valid = true;
            const self = this;
            for (const [key, value] of Object.entries(self.errors)) {
                if (self.user[key] == '' || value != '') {
                    valid = false;
                    break;
                }
            }
            return valid;
        }
    },
    methods: {

        userRegister: function (e) {
            e.preventDefault();
            const self = this;
            if (self.isFormValid == false)
                return false;

            self.loading = true;
            self.axios.post(self.$api_url + '/register', self.user, { withCredentials: false, })
                .then(res => {
                    console.log(res.data);
                    self.$router.push('/login');
                })
                .catch(err => {
                    const message = err.response.data.message ? err.response.data.message : err.message;
                    self.$toast.error(message);
                })
                .finally(() => {
                    self.loading = false;
                });
        }
    }






}
</script>