<template>
  <div>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <div class="container">
        <a class="navbar-brand" href="#">Laravel TODO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" v-if="isNotLogged">
                <router-link class="nav-link" to="/" >Home</router-link>
            </li>
            <li class="nav-item" v-if="isNotLogged">
                <router-link class="nav-link" to="/login">Login</router-link>
            </li>
            <li class="nav-item" v-if="isNotLogged">
              <router-link class="nav-link" to="/register">Register</router-link>
            </li>

            <li class="nav-item" v-if="isLogged">
              <router-link class="nav-link" to="/todos">Todos</router-link>
            </li>

            <li class="nav-item" v-if="isLogged">
              <a id="logout-link" class="nav-link" href="#" @click.prevent="logout">Logout</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div v-if="$store.state.loading" class="loading">
        <div class="bg-blur"></div>
        <div class="loader"></div>
      </div>

      <div class="pt-4">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
export default {
  watch: {
        $route: {
            immediate: true,
            handler(to, from) {
                document.title = to.meta.title || to.name;
            }
        },
    },
  computed: {
    isLogged: function(){
      const auth = this.$store.state.auth;
      if(auth)
          return true;
      return false;  
    },
    isNotLogged: function(){
      const auth = this.$store.state.auth;
      if(auth === '')
          return true;
      return false;  
    }
  },
  methods: {
    logout(evt) {
      if(confirm("Are you sure you want to log out?")) {
        axios.get('api/logout').then(response => {
          localStorage.removeItem('auth');
          delete axios.defaults.headers.common['Authorization'];
          // If using 'vue-router' redirect to login page
          this.$router.go('/login');
        }).catch(error => {
                  // If the api request failed then you still might want to remove
                  // the same data from localStorage anyways
                  // perhaps this code should go in a finally method instead of then and catch
                  // methods to avoid duplication.
                  localStorage.removeItem('auth');
                  delete axios.defaults.headers.common['Authorization'];
                  this.$router.go('/login');
                });
      }
    }
  },
  created: function () {
    const self = this;
    self.axios.defaults.headers.common = {
      "Accept": "application/json",
      'Content-Type': 'application/json',
    };
    self.axios.interceptors.response.use(undefined, function (err) {
      //return new Promise(function (resolve, reject) {
      return new Promise(function () {
        if (err.response.status === 401) {
          self.$store.commit('clearAuth');
          self.$router.push('/login');
        }
        throw err;
      });
    });
  }
}

</script>

