<template>
  <div class="container">
      <div class="row">
        <div class="col-10">
          <div class="card">
            <div class="card-header">
              <h4 class="float-start">Todo List</h4>
              <form @submit.prevent="addTodo">
                <div class="form-group">
                  <input v-model="todo.name" type="text" class="form-control" placeholder="Task Title">
                  <small class="form-text text-danger">{{ errors.name }}</small>
                </div>
                <button type="submit" class="btn btn-success" :disabled="!isFormValid">Create</button>
              </form>

            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <table v-if="todos.length" class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(todo, index) in todos" v-bind:key="index">
                  <td>{{ todo.name }}<div class="task-date float-right">24 Feb 12:00</div></td>
                  <td>
                    <button  class="btn btn-warning btn-sm mr-2">Edit</button>
                    <button @click="deleteTodo(todo.id, index)" class="btn btn-danger btn-sm">Delete</button>
                  </td>
                </tr>
                </tbody>

              </table>
              <table class="table table-bordered">
                <tr v-if="todos.length == 0">
                  <td>No Todo are found!!</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </div>


  </div>


</template>

<script>
export default {
  name: 'todos-page',
  data: function(){
    return {
         todos : [],
          todo : {
            name : '',
          },
          errors : {
            name : '',
          },
    }
  },
  mounted : function(){
    this.todosAll();
  },
  methods : {

    addTodo: function(e){
      e.preventDefault();
      const self = this;
      if(self.isFormValid == false)
        return false;

      self.$store.commit('loading', true);
      self.axios.post(self.$api_url + '/todos', self.todo, { withCredentials: true,})
              .then(res => {
                console.log(res);
                self.$toast.success(res.data.message);
                self.clear();
              })
              .catch(err => {
                console.log(err.response.data.message);
                const message = err.response.data.message ? err.response.data.message : err.message;
                self.$toast.error(message);
              })
              .finally(() => {
                self.$store.commit('loading', false);
              });
    },

    todosAll: function(){
      const self = this;
      self.$store.commit('loading', true);
      self.axios.get(self.$api_url + '/todos', { withCredentials: true,})
          .then(res => {
            console.log(res)
              self.todos = res.data;
          })
          .catch(err => {
              const message = err.response.data.message ? err.response.data.message : err.message;
              self.$toast.error(message);
          })
          .finally(() => {
              self.$store.commit('loading', false);
          });
    },

    deleteTodo: function(id, index){
      if(confirm("Are you sure to delete operation?") === false)
        return;

      const self = this;
      self.$store.commit('loading', true);
      self.axios.delete(self.$api_url + '/todos/' + id, { withCredentials: true,})
              .then(res => {
                self.$toast.success(res.data.message);
                self.todos.splice(index,1);
              })
              .catch(err => {
                const message = err.response.data.message ? err.response.data.message : err.message;
                self.$toast.error(message);
              })
              .finally(() => {
                self.$store.commit('loading', false);
              });
    },



  },

  watch:{
    'todo.name': function(nameTodo){
      this.errors.name =  nameTodo ? '' : 'Todo is required';
    }
  },
  computed:{
    isFormValid: function(){
      let valid = true;
      const self = this;
      for (const [key, value] of Object.entries(self.errors)) {
        if(self.todo[key] == '' || value != ''){
          valid = false;
          break;
        }
      }
      return valid;
    }
  },
}
</script>