<template>
    <li class="list-group-item py-3">
        <div class="d-flex justify-content-start align-items-center">
            <div class="relative" v-if="isEdit">
                <input class="editable-task" type="text" @keyup.esc="isEdit = false" v-focus@keyup.enter="updateTask" />
            </div>
            <span v-else>{{ task.name }}</span>
        </div>
        <TaskActions @edit="isEdit = true" v-show="!isEdit" @remove="removeTask" />
    </li>
</template>

<script setup>

import { computed, ref } from "vue";
import TaskActions from "./TaskAction.vue";
const props = defineProps({
    task: Object
})

const emit = defineEmits(['updated', 'removed'])
const isEdit = ref(false)

const vFocus = {
    mounted: (el) => el.focus()
}
const updateTask = event => {
    const updateTask = { ...props.task, name: event.target.value }
    isEdit.value = false
    emit('updated', updateTask)
}

const removeTask = () => {
    if (confirm("Are You sure?")) {
        emit('removed', props.task)
    }
}

</script>