<template>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">Todo List</h4>
                    </div>

                    <div class="card-body">
                        <main style="min-height: 50vh; margin-top: 2rem;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <!-- Add new Task -->
                                        <new-task @addTodo="handleAddedTask" />
                                        <!-- List of tasks -->
                                        <div class="card mt-2">
                                            <ul class="list-group list-group-flush">
                                                <todo-list v-for="task in tasks" :task="task" :key="task.id"
                                                    @updated="$emit('updated', $event)"
                                                    @removed="$emit('removed', $event)" />
                                            </ul>
                                            <p v-show="!tasks.length">No todo available!!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>

            </div>

        </div>

    </div>
</template>

<script>

import { onMounted, ref } from 'vue'
import { allTodos, createTodo } from "@/http/task-api";
import NewTask from "@/components/todos/NewTask.vue";
import TodoList from "@/components/todos/TodoList.vue";
export default {
    props: ['task'],
    name: 'task-page',
    components: { NewTask, TodoList },
    setup() {
        const tasks = ref([])
        onMounted(async () => {
            const { data } = await allTodos()
            tasks.value = data
        })

        const handleAddedTask = async (newTask) => {
            const { data: createdTask } = await createTodo(newTask)
            tasks.value.unshift(newTask)
        }

        return {
            tasks,
            handleAddedTask,

        }


    },

    methods: {

    }


}

</script>
